<h2 class="page-heading">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <section class="row">  
    <div class="small-12 medium-8 medium-centered columns">

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
  </section>

  <section class="row">  
    <div class="actions small-12 text-center columns">
      <%= f.submit "Log in", class: "action-button" %>
    </div>
  </section>

<% end %>

<section class="row"> 
  <div class="small-12 text-center columns">
    <%= render "devise/shared/links" %>
  </div>
</section>
