<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Services", services_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Add a Service", new_service_path %></li>

            <!-- The following 2 are for development. Won't be in prod-->
            <li><%= link_to "Service Types", service_types_path %></li>
            <li><%= link_to "Users", users_path %></li>
            
            <!-- I will float the following to the right -->
            <li><%= link_to "My Profile", current_user %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <!-- I will float the following to the right -->
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>  
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
