<%= form_for(@service) do |f| %>

  <% if @service.errors.any? %>
    <section class="row">
      <div id="error_explanation" class="small-12 columns alert-box alert radius">
        <p>There are <%= pluralize(@service.errors.count, "error") %>. Please fix them and try again!</p>
        <ul class="no-bullet">
        <% @service.errors.full_messages.each do |message| %>
          <li><i class="fi-alert"></i><%= message %></li>
        <% end %>
        </ul>
      </div>
    </section>
  <% end %>

  <section class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :url %><br>
        <%= f.url_field :url %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :service_type_id %><br>
        <%= f.collection_select :service_type_id, ServiceType.all, :id, :name,
        {:prompt => 'Please select one!'} %>
      </div>
      <div class="field">
        <%= f.label :tags %><br>
        <%= f.collection_check_boxes :tag_ids, Service.unique_sorted_tags, :id, :name %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="small-8 small-centered text-center medium-8 columns">
      <%= f.submit "Save", class: "actions button" %>
    </div>          
  </section>
<% end %>
