
<ul id="services-index-container" class="row">
  <div class="small-block-grid-1 small-centered medium-block-grid-3 columns">
    <% @services.each do |service| %>
        <li class="service-box <%= service.service_type.name.downcase.gsub(/\s+/, "") %>-box">
          <ul class="no-bullet">
            <li class="service-heading">
              <div class="service-type-icon"><i class="<%= service.service_type.icon %>"></i></div><%= link_to service.name, service %></li>
            <li class="service-type-name"><%= service.service_type.name%></li>
            <li class="service-description"><%= truncate(service.description, length: 100) %></li>
            <li>
                <% service.tags.each do |tag| %>
                  <%= link_to tag, services_path(tags:tag.name), class: "tag" %>
                <% end %>
            </li>
          </ul>
        </li>
    <% end %>
  </div>
</ul>

<div class="row">
  <p class="small-12 text-center columns">Do you think this site is missing an important service? You can <%= link_to 'add a service here', new_service_path %>. 
  </p>
</div>