<div id="homepage-banner-img" class="full-width-banner">
  <div id="homepage-title" class="radius">
    <h2>Services</h2>
  </div>
</div>
<section class="row">
  <p id="notice" class="small-12 text-center columns"><%= notice %></p>
</section>

<% if params[:tags].present? %>
  <h2 class="page-heading">Showing "<%= params[:tags] %>" services</h2>
  <p class="text-center">
    <%= link_to "All Services", services_path %>
  </p>
<% end %>

  <%= search_form_for(@q) do |f| %>
    <section class="row">
      <div class="small-12 medium-8 medium-centered text-center columns">
        <%= f.search_field :name_or_description_cont, placeholder: "Search" %>
        <%= f.submit "Search", class: "action-button" %>
      </div>
    </section>
  <% end %>

<%= render 'indexitems' %>